.option-images-display{
    width: 1.5rem;
    height: 30px;
    margin-right: 0.5714285714rem;
}

.option-text-display{
    margin-top: -40px;
    margin-left: 35px;
}

.bank-account-name__lable{
    margin-left: 17%;
}

.bank-account-name__input{
    width: 63%;
    margin-left: 1%;
}

.btn-change{
    margin-left: 30px;
    margin-top: 33px;
    background: rgb(40, 167, 69);
    &:hover{
        background: rgb(107, 173, 122);
    }
}