.header1 {
    padding: 15px;
    background-color: #000;
}

.header2 {
    display: flex;
    align-items: center;
    background: white;
}

.link {
    color: #000;
}

.icon {
    font-size: 25px;
    padding-top: 20px;
    color: #000;
}

.button {
    background-color: #000;
}

.search {
    width: 33vw;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}
.search-hint {
    width: 100%;
    padding: 10px;
    display: block;
    &:hover {
        background-color: #fafafa;
        cursor: pointer;
    }
}
.item1 {
    width: 33vw;
    align-items: center;
}

.item1 img {
    padding-top: 25px;
}

.item2 {
    width: 33vw;
    align-items: center;
}

.item3 {
    width: 33vw;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
