.header1 {
    padding: 15px;
    background-color: #000;
}

.header2 {
    display: flex;
    align-items: center;
    background: white;
}

.link {
    color: #000;
}

.icon {
    font-size: 25px;
    padding-top: 20px;
    color: #000;
}

.button {
    background-color: #000;
}

.search {
    width: 33vw;
    padding-top: 15px;
}

.item1{
    width: 33vw;
    align-items: center;
}

.item2{
    width: 33vw;
    align-items: center;
}

.item3{
    width: 33vw;
    display: flex;
    justify-content: flex-end; 
    flex-direction: row;
}
