.header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    background: #f1f1f1;
    justify-content: space-between;
}

.link {
    color: #000;
}

.icon {
    font-size: 25px;
    padding-top: 20px;
    color: #000;
}

.button {
    background-color: #000;
}
