.ml-30{
    margin-left: 30px;
}

.mt-20{
    margin-top: 20px;
}

.mb-5{
    margin-bottom: 5px;
}

.text-center{
    text-align: center;
}

.text-message-err{
    color: red;
}

.text-unlinked-bank{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.fontSize-20{
    font-size: 20px;
}

.warning-info{
    margin-top: 20px;
    margin-left: 30px;
}

.text-connect-err{
    text-align: center;
    font-size: 20px;
    margin-top: 20vh;
}

.bank-account-info{
    display: flex;
}