.space-div-flex {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.margin-bottom-item {
    margin-bottom: 15px;
}

.margin-left-40 {
    margin-left: 40px;
}

.input-num {
    width: 50px;
    text-align: center;
}

.numeric-input .ant-tooltip-inner {
    min-width: 32px;
    min-height: 37px;
}

.numeric-input .numeric-input-title {
    font-size: 14px;
}

.ant-spin-container .ant-spin-dot {
    width: 90%;
}

.flex-item-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// coupon
