.container {
    min-height: 100vh;
}

.header {
    padding: 0 20px 0 0;
    background: white;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

.header-logo {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.sider {
    // background: colorBgContainer,
    background-color: white !important;
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.menu {
    font-size: 16px;
}
.menu-icon {
    font-size: 18px !important;
}

.content {
    padding: 24px;
    min-height: 380px;
    background: rgb(244, 247, 254);
}
