.container {
    min-height: 100vh;
}

.header {
    top: 0;
    left: 0;
    background: #100e0ecc !important;
    padding: 0;
    z-index: 990;
    position: sticky !important;;
    
}

.header-logo {
    padding: 5px;
    background: #100e0ecc !important;
}

.sidebar {
    position: sticky !important;
    top: 0;
    left: 0;
    height: 100vh;
}

.menu{
    font-size: '16px';
    background: #f1f1f1;
}

.content{
    margin: '0 16px',
}
