.red-box {
    width: 5vh;
    height: 5vh;
    background-color: #dc3545;
    margin-left: 10px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.text-discount {
    font-size: 12px;
    color: white;
}

.grid-container {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.grid-item {
    text-align: center;
}
