.flex-item-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-top-40 {
    margin-top: 40px;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #000000;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
}

.discount-style {
    color: #fff;
    text-transform: uppercase;
    background: #ee4d2d;
    border-radius: 2px;
    padding: 2px 4px;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    width: fit-content;
}

.item-product {
    width: 192px;
    height: 316px;
    background-color: #ffffff;
    box-shadow: #d3d3d3 0px 1px 2px 0px;
}

.item-product:hover {
    box-shadow: 0px 0px 0px 0.8px #ee4d2d;
    cursor: pointer;
    transform: scaleY(1.02);
}

.container-page-detail {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.text-title {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
}

.text-color-description {
    color: #d0011b;
    display: inline-block;
    font-size: 14px;
    grid-area: auto;
    line-height: 16.8px;
    text-transform: capitalize;
}

.text-description {
    color: #000000;
    display: inline-block;
    font-size: 14px;
    grid-area: auto;
    line-height: 16.8px;
    text-transform: capitalize;
}

.icon-description {
    color: #000000;
    display: inline-block;
    fill: #000000;
    font-size: 15px;
    grid-area: auto;
    line-height: 18px;
    stroke: #000000;
}

.shop-name {
    font-size: 1.25rem;
    line-height: 1.5rem;
    max-height: 3rem;
    font-weight: 500;
    margin-bottom: 0.3125rem;
    margin-top: 0;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.active-time {
    vertical-align: middle;
    font-size: 0.75rem;
    // color: hsla(0, 0%, 100%, 0.7);
    margin: 0.3125rem 0 0.375rem;
}

.big-avatar {
    position: relative;
    display: inline-block;
}
.big-avatar-status {
    width: 20px;
    height: 20px;
    background: #31a24c;
    border: 3px solid white;
    position: absolute;
    bottom: 3%;
    right: 5%;
    border-radius: 100%;
}
