@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.ck.ck-powered-by {
    display: none;
}
/*.disabled-row,
.disabled-row td {
    background-color: #ebebeb; 
    pointer-events: none;
}*/
