@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.ck.ck-powered-by {
    display: none;
}

/* .search-radio-button-checked.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background-color: #e6f4ff !important;
    border-color: #e6f4ff !important;
    color: #000 !important;
} */

/*.disabled-row,
.disabled-row td {
    background-color: #ebebeb; 
    pointer-events: none;
}*/
