.container {
    width: 100%;
    display: flex;
}

.card-header-user-conversation {
    margin-bottom: 0vh;
}

.card-message {
    width: fit-content;
    height: fit-content;
}

.card-message-sender {
    width: fit-content;
    height: fit-content;
    background-color: #c2d6d6;
}

.card-header {
    background: #669999;
    color: white;
}

.layout-chat-message {
    height: 75vh;
    width: 65%;
    padding: 10px;
    border: 1px solid rgba(140, 140, 140, 0.35);
}

.layout-user-chat {
    height: 75vh;
    width: 30%;
    padding: 10px;
    border: 1px solid rgba(140, 140, 140, 0.35);
}

#scrollChatMessage {
    height: 55vh;
    overflow: auto;
    padding: 0 16px;
}

.style-message-sender {
    margin-left: auto;
    max-width: fit-content;
}

.style-message-sender-1 {
    margin-left: auto;
    max-width: fit-content;
}

.backgroud-selected {
    background-color: #c2d6d6;
}
