.container {
    width: 100%;
    display: flex;
}

.card-header-user-conversation {
    margin-bottom: 0vh;
}

.card-message {
    width: fit-content;
    height: fit-content;
}

.card-message-sender {
    width: fit-content;
    height: fit-content;
    background-color: #3875f6;
}

.layout-chat-message {
    height: 75vh;
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(140, 140, 140, 0.35);
    position: relative;
}

.layout-user-chat {
    height: 75vh;
    width: 40%;
    padding: 10px;
    border: 1px solid rgba(140, 140, 140, 0.35);
}

#scrollChatMessage {
    height: 55vh;
    overflow: auto;
    padding: 0 16px;
}

.style-message-sender {
    margin-left: auto;
    max-width: fit-content;
}

.style-message-sender-1 {
    margin-left: auto;
    max-width: fit-content;
}

.backgroud-selected {
    background-color: #c1ddf3;
}

.margin-top-10 {
    margin-top: 10px;
}

.ant-spin-container .ant-spin-dot {
    width: 90%;
}

.custom-wrapper {
    width: 60%;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 135px;
}

.text-un-read {
    color: black;
    font-weight: bolder;
}

.circle {
    width: 11px;
    height: 11px;
    background-color: #448df3;
    border-radius: 50%;
}

.space-div-flex {
    display: flex;
    align-items: center;
}

.text-color-message {
    color: white;
}

// style big user avatar
.big-avatar {
    position: relative;
    display: inline-block;
}
.big-avatar-status {
    width: 14px;
    height: 14px;
    background: #31a24c;
    border: 2px solid white;
    position: absolute;
    bottom: 2%;
    right: 2%;
    border-radius: 100%;
}

// style small user avatar
.small-avatar {
    position: relative;
    display: inline-block;
}

.small-avatar-status {
    width: 12px;
    height: 12px;
    background: #31a24c;
    border: 2px solid white;
    position: absolute;
    bottom: 2%;
    right: 2%;
    border-radius: 100%;
}
