.shopee-icon{
    box-sizing: content-box;
    display: inline-block;
    line-height: 0;
    fill: currentColor;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
    font: inherit;
    border: 0;
    color: rgb(186, 186, 186);
    text-align: left;
    cursor: pointer;
    display: block;
    width: 14px;
    height: 14px;
    fill: rgb(140, 140, 140);
    margin-right: 5px;
}

.text-gray{
    font-size: 14px;
    color: rgb(186, 186, 186);
}