.red-box {
    width: 5vh;
    height: 5vh;
    background-color: #dc3545;
    margin-left: 10px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.text-discount {
    font-size: 12px;
    color: white;
}

.flex-item-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-bottom {
    margin-bottom: 10px;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
